.logo {
  font-family: $font-familyLogo;
  font-style: $font-style;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: $accent-color;
  text-decoration: none;
}

.header__logo {
    padding-top: 16px;
    padding-bottom: 16px;

  @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
}

@media screen and (min-width: 1200px) {
   padding-top: 24px;
   padding-bottom: 24px;
   margin-right: 93px;
  font-size: 26px;
  line-height: 1.19;
  }}

.footer__logo {
    display: block;
    margin-bottom: 20px;
} 

.logo__item--black {
  color: $secondary-color;
}

.logo__item--white {
  color: $background-color;
}