.header__section {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: $background-color;

@media screen and (max-width: 767px) {
    justify-content: space-between;
    height: 60px;
}

@media screen and (min-width: 768px) {
    height: 80px;
}}


@media screen and (max-width: 767px) {
    .nav {
        display: none;
}}


.header__border-bottom {
    border-bottom: 1px solid $header-bottom-line;
}

.nav__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav__item + .nav__item {
    margin-left: 50px;
}

.nav__link {
  position: relative;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: inherit;

  @include transition(color);
}

.nav__link:hover,
.nav__link:focus,
.nav__link--grey:hover,
.nav__link--grey:focus,
.nav__link--current,
.nav__link-desktop:hover,
.nav__link-desktop:focus,
.address__link:hover,
.address__link:focus {
    color: $accent-color;
    
}

.nav__link--current::after {
    position: absolute;
    bottom: 0;
    content: '';
    display: inline-block;
    background-color: $accent-color;
    width: 100%;
    height: 4px;
    border-radius: 2px;
}


.nav__contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: auto;

@media screen and (max-width: 767px) {
    display: none;}

@media screen and (min-width: 1200px) {
    display: none;}
}

.nav__contacts-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    &:not(:last-child) {
    margin-bottom: 10px;}
}

.nav__link--grey {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $text-color;
    text-decoration: none;
    cursor: $cursor;

    @include transition(color);

@media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
    }
}


.nav__contact-icon {
    margin-right: 8px;
    fill: $text-color;
    @include transition(fill);

    .nav__link--grey:hover &,
    .nav__link--grey:focus & {
    fill: $accent-color;
}

@media screen and (min-width: 1200px) {
   margin-right: 10px;
}
}


// для десктопа

.nav__contacts-desktop {
    margin-right: 0;
    margin-left: auto;

@media screen and (max-width: 1199px) {
    display: none;
}}


.contacts-desktop.list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
} 

.nav__desktop-item {
    margin-right: 30px;}

.nav__link-desktop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $text-color;
    text-decoration: none;
    cursor: $cursor;

    @include transition(color);
    
    &:hover .nav__contact-icon,
    &:focus .nav__contact-icon {
    fill: $accent-color;
}}