$background-color: #ffffff;
$primary-color: #212121;
$secondary-color: #000000;
$accent-color: #2196f3;
$text-color: #757575;
$hero-color: #2F303A;
$label-background: rgba(47, 48, 58, 0.8);
$team-section-color: #F5F4FA;
$footer-link-color: rgba(255, 255, 255, 0.6);
$header-bottom-line: #ECECEC;
$hero-gradient: rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4);
$hero-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
$team-item-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
$btn-primary-hover: #188CE8;
$btn-primary-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
$btn-secondary-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
$card-border: #EEEEEE;
$card-set-gap: 30px;
$card-item-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
$overlay-background: rgba(33, 150, 243, 0.9);  
$icon-color: #AFB1B8;
$footer-icon-color: #44454E;
$backdrop-background: rgba(0, 0, 0, 0.2);
$modal-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
$animation-time: 250ms;
$textareaPlaceholder: rgba(117, 117, 117, 0.5);
$newsletterPlaceholder: rgba(255, 255, 255, 0.6);


// font 
$font-family: "Roboto", sans-serif;
$font-style: normal;
$color: $primary-color;

// Logo font
$font-familyLogo: "Raleway", sans-serif;

//button
$border-radius: 4px;
$text-align: center;
$cursor: pointer;

